/********** Template CSS **********/
:root {
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: hsl(223, 48%, 11%);
}

.fw-medium {
    font-weight: 500 !important;
}

.img-oghep {
    width: 100px !important;
    height: 100px !important;
}

.fw-semi-bold {
    font-weight: 600 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}


.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
        /* new */
        font-weight: 400;
    
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}

.booking {
    position: relative;
    margin-top: -100px !important;
    z-index: 1;
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
    display: none;
}


/*==================
	ADVANCE SEARCH SECTION filter by Uyn start
====================*/

#aa-advance-search {
    display: inline;
    float: left;
    width: 100%;
  }
  #aa-advance-search .aa-advance-search-area {
    background-color: rgba(221, 221, 221, 0.8);
    border-radius: 10px 10px 0 0;
    display: inline;
    float: left;
    margin-top: -100px;
    min-height: 200px;
    padding: 25px 20px;
    position: relative;
    width: 100%;
  }
  #aa-advance-search .aa-advance-search-area .aa-advance-search-top {
    display: inline;
    float: left;
    width: 100%;
  }
  #aa-advance-search .aa-advance-search-area .aa-advance-search-top .aa-single-advance-search {
    display: inline;
    float: left;
    width: 100%;
  }
  #aa-advance-search .aa-advance-search-area .aa-advance-search-top .aa-single-advance-search input[type="text"] {
    border: 1px solid #fff;
    border-radius: 2px;
    color: #555;
    height: 40px;
    padding: 5px;
    width: 100%;
    font-size: 18px;
  }
  #aa-advance-search .aa-advance-search-area .aa-advance-search-top .aa-single-advance-search select {
    border: 1px solid #fff;
    border-radius: 2px;
    color: #555;
    height: 40px;
    padding: 5px;
    width: 100%;
  }
  #aa-advance-search .aa-advance-search-area .aa-advance-search-top .aa-single-advance-search .aa-search-btn {
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    outline: medium none;
    text-transform: uppercase;
    width: 100%;
  }
  #aa-advance-search .aa-advance-search-area .aa-advance-search-bottom {
    display: inline;
    float: left;
    width: 100%;
    margin-top: 50px;
  }
  #aa-advance-search .aa-advance-search-area .aa-advance-search-bottom .aa-single-filter-search {
    display: inline;
    float: left;
    width: 100%;
    text-align: center;
  }
  #aa-advance-search .aa-advance-search-area .aa-advance-search-bottom .aa-single-filter-search span {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    margin: 0 10px;
  }
  #aa-advance-search .aa-advance-search-area .aa-advance-search-bottom .aa-single-filter-search .noUi-connect {
    box-shadow: 0 0 3px rgba(51, 51, 51, 0.45) inset;
    transition: background 450ms ease 0s;
  }
  #aa-advance-search .aa-advance-search-area .aa-advance-search-bottom .aa-single-filter-search .noUi-handle {
    border: none;
    border-radius: 50%;
    box-shadow: none;
    height: 25px;
    left: -17px;
    top: -12px;
    width: 25px;
  }
  #aa-advance-search .aa-advance-search-area .aa-advance-search-bottom .aa-single-filter-search .noUi-handle:after, #aa-advance-search .aa-advance-search-area .aa-advance-search-bottom .aa-single-filter-search .noUi-handle:before {
    display: none;
  }
  /* filter by Uyen ends */
  

/*** Service ***/
.service-item {
    height: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item .service-icon {
    margin: 0 auto 30px auto;
    width: 65px;
    height: 65px;
    transition: .5s;
}

.service-item i,
.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover i,
.service-item:hover h5,
.service-item:hover p {
    color: #FFFFFF !important;
}


/*** Youtube Video ***/
.video {
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(../img/video.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video .btn-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    transition: all 200ms;
}

.video .btn-play img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid var(--dark);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#videoModal {
    z-index: 99999;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../img/carousel-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial-carousel {
    padding-left: 65px;
    padding-right: 65px;
}

.testimonial-carousel .testimonial-item {
    padding: 30px;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 2px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--primary);
    background: #FFFFFF;
}


/*** Team ***/
.team-item,
.team-item .bg-primary,
.team-item .bg-primary i {
    transition: .5s;
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}


/*** Footer ***/
.newsletter {
    position: relative;
    z-index: 1;
}

.footer {
    position: relative;
    margin-top: -110px;
    padding-top: 180px;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
/* Trang đăng bài by PhuocTon start*/
.modal-box{
    font-family: 'Poppins', sans-serif;
    display: flex;
    max-width: 300px;
    position: absolute;
    flex-direction: column;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
    width: 100%;
    border-radius: 24px;
    background-color: #fff3d0;

}
.modal-box i{
    font-size: 70px;
    color: #ffbf00;
}

.modal-box h3{
    margin-top: 18px;
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    text-align: center;
}


.modal-box button{
   
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    background-color: #df8600;
    gap: 30px;
    border: 1px;
    padding: 10px 20px;
    border-radius: 24px;
    cursor: pointer;
}
/* Trang đăng bài by PhuocTon end */
#aa-properties {
    display: inline;
    float: left;
    width: 100%;
    padding: 30px 0 100px;
  }
  #aa-properties .aa-properties-content {
    display: inline;
    float: left;
    width: 100%;
  }
  #aa-properties .aa-properties-content .aa-properties-content-head {
    border: 1px solid #ddd;
    display: inline;
    float: left;
    padding: 10px 15px;
    width: 100%;
  }
  #aa-properties .aa-properties-content .aa-properties-content-head .aa-properties-content-head-left {
    float: left;
  }
  #aa-properties .aa-properties-content .aa-properties-content-head .aa-properties-content-head-left label {
    font-weight: normal;
    margin-bottom: 0;
    font-size: 18px;
    margin-right: 10px;
  }
  #aa-properties .aa-properties-content .aa-properties-content-head .aa-properties-content-head-left label {
    font-weight: normal;
    margin-bottom: 0;
    font-size: 18px;
    margin-right: 10px;
  }
  #aa-properties .aa-properties-content .aa-properties-content-head .aa-properties-content-head-left .aa-sort-form {
    float: left;
  }
  #aa-properties .aa-properties-content .aa-properties-content-head .aa-properties-content-head-left .aa-show-form {
    float: left;
    margin-left: 25px;
  }
  #aa-properties .aa-properties-content .aa-properties-content-head .aa-properties-content-head-right {
    float: right;
  }
  #aa-properties .aa-properties-content .aa-properties-content-head .aa-properties-content-head-right a {
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 20px;
    padding: 2px 8px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  #aa-properties .aa-properties-content .aa-properties-content-head .aa-properties-content-head-right #aa-grid-properties {
    margin-right: 5px;
  }
  #aa-properties .aa-properties-content .aa-properties-content-body {
    display: inline;
    float: left;
    width: 100%;
  }
  #aa-properties .aa-properties-content .aa-properties-content-body .aa-properties-nav {
    margin-left: -30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  #aa-properties .aa-properties-content .aa-properties-content-body .aa-properties-nav li {
    display: block;
    float: left;
    margin: 0 0 20px 30px;
    width: 46.1%;
  }
  #aa-properties .aa-properties-content .aa-properties-content-body .aa-list-view {
    margin-left: 0;
  }
  #aa-properties .aa-properties-content .aa-properties-content-body .aa-list-view li {
    width: 100%;
    margin: 0;
  }
  #aa-properties .aa-properties-content .aa-properties-content-body .aa-list-view li .aa-properties-item .aa-properties-item-img {
    display: block;
    width: 50%;
    float: left;
  }
  #aa-properties .aa-properties-content .aa-properties-content-body .aa-list-view li .aa-properties-item .aa-properties-item-content {
    width: 50%;
    border-top: 1px solid #ddd;
  }
  #aa-properties .aa-properties-content .aa-properties-content-bottom {
    display: inline;
    float: left;
    width: 100%;
  }
  /* media */
  #aa-properties .aa-properties-sidebar .aa-properties-single-sidebar .media {
    margin-top: 20px;
  }
  #aa-properties .aa-properties-sidebar .aa-properties-single-sidebar .media .media-object {
    width: 100px;
    height: 90px;
  }
  #aa-properties .aa-properties-sidebar .aa-properties-single-sidebar .media .media-body h4 a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin-top: 20px;
  }
  #aa-properties .aa-properties-sidebar .aa-properties-single-sidebar .media .media-body p {
    font-size: 16px;
  }


  #aa-properties .aa-properties-content .aa-properties-content-bottom .pagination {
    margin-top: 40px;
  }
  #aa-properties .aa-properties-content .aa-properties-content-bottom .pagination li:first-child a {
    border: 1px solid #ccc !important;
    border-radius: 0;
    margin-left: 0;
    margin-right: 1px;
  }
  #aa-properties .aa-properties-content .aa-properties-content-bottom .pagination li:last-child a {
    border: 1px solid #ccc !important;
    border-radius: 0;
    margin-left: 0;
    margin-right: 2px;
  }
  #aa-properties .aa-properties-content .aa-properties-content-bottom .pagination li a {
    border: 1px solid transparent;
  }
  #aa-properties .aa-properties-content .aa-properties-content-bottom .pagination li a:hover, #aa-properties .aa-properties-content .aa-properties-content-bottom .pagination li a:focus {
    color: #fff;
  }
  #aa-properties .aa-properties-content .aa-properties-content-bottom .pagination .active a {
    color: #fff;
  }
  .aa-properties-content-bottom {
    display: inline;
    float: left;
    width: 100%;
  }
  .aa-properties-content-bottom .pagination {
    margin-top: 40px;
  }
  .aa-properties-content-bottom .pagination li:first-child a {
    border: 1px solid #ccc !important;
    border-radius: 0;
    margin-left: 0;
    margin-right: 1px;
  }
  .aa-properties-content-bottom .pagination li:last-child a {
    border: 1px solid #ccc !important;
    border-radius: 0;
    margin-left: 0;
    margin-right: 2px;
  }
  .aa-properties-content-bottom .pagination li a {
    border: 1px solid transparent;
  }
  .aa-properties-content-bottom .pagination li a:hover, .aa-properties-content-bottom .pagination li a:focus {
    color: #fff;
  }
  .aa-properties-content-bottom .pagination .active a {
    color: #fff;
  }
  #aa-properties .aa-properties-content .aa-properties-content-body .aa-properties-nav li {
    width: 45.2%;
  }

  #aa-properties .aa-properties-content .aa-properties-content-body .aa-list-view li {
    width: 100%;
  }

  .aa-properties-item .aa-properties-item-content .aa-properties-info span {
    margin: 0 3px;
  }

  #aa-properties .aa-properties-content .aa-properties-content-body .aa-list-view li .aa-properties-item .aa-properties-item-img {
    height: 223px;
  }

  #aa-properties .aa-properties-content .aa-properties-content-body .aa-list-view li .aa-properties-item .aa-properties-item-img img {
    height: 100%;
  }
  #aa-properties .aa-properties-content .aa-properties-content-body .aa-properties-nav li {
    width: 45.9%;
  }

  #aa-properties .aa-properties-content .aa-properties-content-body .aa-list-view li {
    width: 100%;
  }
  #aa-properties .aa-properties-content .aa-properties-content-body .aa-properties-nav {
    margin-left: 0;
  }

  #aa-properties .aa-properties-content .aa-properties-content-body .aa-properties-nav li {
    margin: 0;
    width: 100%;
  }
  #aa-properties .aa-properties-content .aa-properties-content-body .aa-list-view li .aa-properties-item .aa-properties-item-img {
    width: 100%;
  }

  #aa-properties .aa-properties-content .aa-properties-content-body .aa-list-view li .aa-properties-item .aa-properties-item-content {
    border-top: medium none;
    width: 100%;
  }
  #aa-properties .aa-properties-content .aa-properties-content-head {
    padding: 20px;
  }

  #aa-properties .aa-properties-content .aa-properties-content-head .aa-properties-content-head-right {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  #aa-properties .aa-properties-content .aa-properties-content-head {
    padding: 20px 10px;
  }

  #aa-properties .aa-properties-content .aa-properties-content-head .aa-properties-content-head-left label {
    font-size: 16px;
    margin-right: 0px;
  }
  .aa-properties-details {
    display: inline;
    float: left;
    width: 100%;
  }
  .aa-properties-details .aa-properties-details-img {
    display: inline;
    float: left;
    width: 100%;
  }
  .aa-properties-details .aa-properties-details-img img {
    height: 500px;
    width: 100%;
  }
  .aa-properties-details .aa-properties-details-img .slick-prev, .aa-properties-details .aa-properties-details-img .slick-next {
    height: 50px;
    top: 47%;
    width: 50px;
  }
  .aa-properties-details .aa-properties-info {
    display: inline;
    float: left;
    width: 100%;
  }
  .aa-properties-details .aa-properties-info h2 {
    margin-top: 10px;
  }
  .aa-properties-details .aa-properties-info .aa-price {
    color: #000;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  /* định dạng location - trang con vận chuyển */
  .aa-properties-details .aa-properties-info .aa-location {
    color: #FEA116;
    display: inline;
    font-size: 20px;
    /* font-weight: bold; */
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .aa-properties-details .aa-properties-info h4 {
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 20px;
  }
  .aa-properties-details .aa-properties-info ul {
    margin-left: 20px;
  }
  .aa-properties-details .aa-properties-info ul li {
    margin-bottom: 10px;
  }
  /* có điều chỉnh icon phía trước */
  .aa-properties-details .aa-properties-info ul li:before {
    /* content: '\f046'; */
    font-family: fontAwesome;
    left: 0;
    top: 0;
    margin-right: 10px;
  }

  .aa-properties-details .aa-properties-info iframe {
    margin-top: 15px;
  }
  .aa-properties-details .aa-nearby-properties {
    display: inline;
    float: left;
    margin-top: 50px;
    width: 100%;
  }
  .aa-properties-details .aa-nearby-properties .aa-nearby-properties-area {
    display: inline;
    float: left;
    width: 100%;
  }
  
  .aa-properties-social {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    display: inline;
    float: left;
    margin-top: 50px;
    padding: 20px 0;
    width: 100%;
  }
  .aa-properties-social ul {
    display: inline;
  }
  .aa-properties-social ul li {
    display: inline;
  }
  .aa-properties-social ul li:first-child {
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 31px;
    margin-right: 10px;
    text-transform: uppercase;
  }
  .aa-properties-social ul li a {
    border: 1px solid #ccc;
    color: #555;
    display: inline-block;
    margin-left: 10px;
    padding: 5px;
    text-align: center;
    width: 35px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  @import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
  .content{
    display: flex;
    cursor: pointer;
    border: 2px solid #ff8000;
    align-items: center;
    justify-content: center;
  }
  .content.heart-active{
    border-color: #ff8000;
    background: #fbd0d8;
  }
  .heart{
    position: absolute;
    background: url("heart.png") no-repeat;
    background-position: left;
    background-size: 100%;
    height: 38px;
    width: 38px;
    top: 50%;
    left: 21%;
    transform: translate(-50%,-50%);
  }
  .text{
    font-size: 21px;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat',sans-serif;
  }
  .numb:before{
    content: '15';
    font-size: 20px;
    margin-left: 7px;
    font-weight: 600;
    color: #000000;
    font-family: sans-serif;
  }
  .numb.heart-active:before{
    content: '16';
    color: #000;
  }
  .text.heart-active{
    color: #000;
  }
  .heart.heart-active{
    animation: animate .8s steps(28) 1;
    background-position: right;
  }
  @keyframes animate {
    0%{
      background-position: left;
    }
    100%{
      background-position: right;
    }
  }
  /* table */
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
  }
  th {
    border: 1px solid #6d6d6d;
    text-align: center;
    padding: 5px;
    font-style: bold;
    color:  #aebee7;
    background-color:#FEA116;
  }
  td {
    border: 1px solid #6d6d6d;
    text-align: center;
    padding: 5px;
    font-style: bold, normal;
    color: #000000, #aebee7;
  }
/* ZAng ends */
/* ServiceMOtelRoom */
.btn-service{
  font-size: 15px;
  padding:.3rem 1rem;
  background:#FEA116;
  color:#FFFFFF;
  margin-top: 1rem;
  cursor: pointer;
  transition: .5s;
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.plan{
  min-height: 10vh;
  background:#eee;
}
.plan .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
}

.plan .box-container .box{
  background:#fff;
  margin:1rem;
  padding:2rem;
  width:30rem;
  text-align: left;
  box-shadow: 0 0 .3rem rgba(0,0,0,.3);
  position: relative;
}

.plan .box-container .box .title{
  font-size: 20px;
  color:#000000;
  padding:1rem 0;
  text-align: center;
}

.plan .box-container .box ul li{
  color:#666;
  color:#000000;
  list-style: none;
  font-size: 1rem;
  padding: 5px 0;
}
/* Signinlogin */
.me-31{
  background-color: #FEA116; 
  color: #eee;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
}




/* Signinlogin */

