@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
.heart-btn{
  margin-top: 5px;
  position: relative;
  text-align: center;
  align-items: center;
  /* height: 130px; */
  top: 400%;
  /* right: 20%; */
  /* right: 300px; */
  transform: translate(0%,0%);
}
.content{
  position: relative;
  padding: 3px 3px;
  border: 2px solid #fea116;
  border-radius: 15px;
  cursor: pointer;
}
.content.heart-active{
  border-color: #fea116;
  background: #fbe2d0;
}
.heart{
  position: absolute;
  background: url("img.png") no-repeat;
  background-position: left;
  background-size: 2900%;
  height: 90px;
  width: 90px;
  transform: translate(-80%,-32%);
}
.text{
  /* margin-left: 100px; */
  align-self: center;
  color: grey;
  font-family: 'Montserrat',sans-serif;
}
.numb:before{
  content: '12';
  font-size: 21px;
  margin-left: 7px;
  font-weight: 600;
  color: #9C9496;
  font-family: sans-serif;
}
.numb.heart-active:before{
  content: '13';
  color: #000;
}
.text.heart-active{
  color: #000;
}
.heart.heart-active{
  animation: animate .8s steps(28) 1;
  background-position: right;
}
@keyframes animate {
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}
