<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hotelier - Hotel HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- link fontawesome -->
    <script src="https://kit.fontawesome.com/71fcac199f.js" crossorigin="anonymous"></script>

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="Blog_style.css">
     <!-- Style CSS comment -->
     <link rel="stylesheet" href="css_comment/style.css">
    
     <!--Only for demo comment purpose - no need to add.-->
     <link rel="stylesheet" type="text/css" href="css_comment/demo.css" />
     
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <style>
        p.left {
           text-align: left;
        }
        p.right {
           text-align: right;
        }
        p.center {
           text-align: center;
        }
    </style> 
    <style>
        h4.left {
           text-align: left;
        }      
    </style> 
    <style type="text/css">
        table, th, td{
            border: hidden;
            background-color:rgb(242, 241, 240);
            border-radius: 10px;
        }
    </style>
    
    <style>
       
        .div-1 {
         
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Header Start -->
     
        <!-- Header End -->


        <!-- Header Start -->
        <div class="container-fluid bg-dark px-0">
            <div class="row gx-0">
                <div class="col-lg-3 bg-dark d-none d-lg-block">
                    <a href="index.html" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                        <img src="img/index_img/Logo.png" alt="logo" class="img-fluid" style="width: 100px; height: 100px;">

                        <h1 class="m-0 text-primary text-uppercase">MORO</h1>
                    </a>
                </div>
                <div class="col-lg-9">  
                    <div class="row gx-0 bg-white d-none d-lg-flex">
                        <div class="col-lg-7 px-5 text-start">
                            <div class="h-100 d-inline-flex align-items-center py-2 me-4">                            
                            </div>
                            
                        </div>
                        <div class="col-lg-5 px-5 text-end">
                            <div class="d-inline-flex align-items-center py-2">
                                <a href="profile.html"><i class="fa-solid fa-user fa-2x" style="color: #FEA116; margin-right: 10px;"></i></a>                                
                                <a class="me-31" href="Popupdangbai.html">Đăng tin  <i class="fa-sharp fa-solid fa-circle-plus"></i> </a>                                  
                            </div>
                        </div>
                    </div>                                
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                        <a href="index.html" class="navbar-brand d-block d-lg-none">
                            <h1 class="m-0 text-primary text-uppercase">MORO</h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a href="index.html" class="nav-item nav-link">Trang chủ</a>
                                <a href="#" class="nav-item nav-link">Cho thuê</a>                            
                                <a href="Roommate.html" class="nav-item nav-link">Ở ghép</a>
                                <a href="delivery_page.html" class="nav-item nav-link">Vận chuyển</a>
                                <a href="cleaningservice.html" class="nav-item nav-link">Dọn phòng</a>
                                <a href="ServiceMotelRoom.html" class="nav-item nav-link">Gói dịch vụ</a>
                                <a href="Blog_Full trang.html" class="nav-item nav-link active">Bản tin</a>
                                <a href="Về chúng tôi.html" class="nav-item nav-link">Về chúng tôi</a>                        
                            </div>                           
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Header End -->


        <!-- Bài viết -->
        <div class="container-xxl py-5">
            <div class="container">
                <div>
                        <h6 class="section-title text-start text-primary text-uppercase">Bài viết chi tiết</h6>           
                    </br>
                    </br>
                    <div class="row g-5 align-items-center">
                        <div class="Thông tin demo">
                            <i class='fas fa-clock' style='font-size:px;color:rgb(75, 81, 137)'></i>        
                            <small class="Lượt xem">5 ngày trước</small>
                            &ensp;&ensp;&ensp;
                            <i class="fa fa-eye" style='font-size:px;color:rgb(72, 120, 133)'></i>     
                            <small class="Lượt xem">167 lượt xem</small>
                            &ensp;&ensp;&ensp;          
                        </div> 
                        <h1 align="center">Đặc điểm nổi bật của căn hộ Legacy Central là gì?</h1>                                             
                    </br>                    
                        <p class="mb-4" style="text-align:justify">Khi tìm hiểu về bất kỳ dự án bất động sản nào, yếu tố về vị trí bao giờ cũng đóng vai trò quan trọng bậc nhất. Chúng tác động trực tiếp đến hệ thống giao thông, khả năng kết nối và hàng loạt các tiện ích. Căn hộ Legacy Central may mắn sở hữu trong mình đầy đủ các yếu tố của một dự án chất lượng với yếu tố vàng về vị trí.</p>  
                        </br>
                        <p style="text-align:justify">Vị trí căn hộ
                            Tọa lạc tại đường Thuận Giao 25, phường Thuận Giao, TP Thuận An, tỉnh Bình Dương. Chung cư Legacy Central nằm tại vị trí đối diện với trường THCS Thuận Giao và nằm trong khu vực dân cư đông đúc, sầm uất.
                            
                            Trong một vài năm trở lại đây, tỉnh Bình Dương là một trong những tỉnh phía nam có tốc độ phát triển kinh tế đáng kinh ngạc.</p>
                        </br>
                        <center>
                            <img class="img-fluid"  src="img/Blog_Hinhanh/Blog 1.jpeg" style="margin-left: auto; margin-right: auto;  margin-top: auto; margin-bottom: 3ch;" width="100%"</center>
                        </br>    
                            <i><center><small>Căn hộ cao cấp Legacy Central</small></center></i>
                        </br>
                            <p style="text-align:justify">Không đơn thuần là “sân sau” của thành phố Hồ Chí Minh, đây còn là khu vực trực tiếp nhận được sự phát triển, thu hút mạnh mẽ của các nhà đầu tư. Bình Dương hiện thủ phủ công nghiệp đứng đầu cả nước. Sự bứt phá về kinh tế đã tạo đà cho bất động sản, đặc biệt là nhu cầu về các dự án căn hộ chung cư tại đây ngày càng tăng cao. Sự xuất hiện của dự án Legacy Central được xem là cơn mưa tưới mát cho thị trường bất động sản Bình Dương vốn đang rất khát những căn hộ giá rẻ, căn hộ cho người thu nhập thấp.</p>
                        </br>
                        <p style="text-align:justify">Sự bứt phá về kinh tế đã tạo đà cho bất động sản, đặc biệt là nhu cầu về các dự án căn hộ chung cư tại đây ngày càng tăng cao. Sự xuất hiện của dự án Legacy Central được xem là cơn mưa tưới mát cho thị trường bất động sản Bình Dương vốn đang rất khát những căn hộ giá rẻ, căn hộ cho người thu nhập thấp.

                            Liên kết vùng của dự án căn hộ Legacy Central
                            
                            Legacy Central là dự án sở hữu vị trí đầy thuận lợi với địa thế cực đẹp. Trước tiên, dự án nằm ngay tại khu vực tiếp giáp với thành phố Hồ Chí Minh. Thông qua hệ thống cơ sở hạ tầng hiện nay đã được đồng bộ với các tuyến huyết mạch: Quốc lộ 1A, Quốc lộ 13, đường ĐT 743, cầu Đồng Nai, bến xe Miền Đông, cầu Phú Long vượt sông Sài Gòn,… Cư dân sẽ không phải mất quá nhiều thời gian để có thể di chuyển vào các quận trung tâm: quận 1, 2, Thủ Đức,…</p>
                        <i><p class="right">Tổng hợp bởi đội ngũ nhân viên Moro</p></i>                    
                         <!-- Trái tim start -->            
                            <div class="heart-btn">
                                <div class="content">
                                <span class="heart"></span>
                                <span class="text">Yêu thích</span>
                                <span class="numb"></span>
                                </div>
                            </div>

                            <script>
                                $(document).ready(function(){
                                $('.content').click(function(){
                                    $('.content').toggleClass("heart-active")
                                    $('.text').toggleClass("heart-active")
                                    $('.numb').toggleClass("heart-active")
                                    $('.heart').toggleClass("heart-active")
                                });
                                });
                            </script>  
                            </br>
                            </br>
                            <div class="div-1">   
                            </br>
                            </br>              
                                <!-- Bình luận demo -->
                                <h4 class="left">Bình luận</h4>
                                </br>
                                <strong><p class="left">2 Bình luận</p></strong>
                                <table bgcolor="blue">
                                    <tr>
                                        <td>
                                        <div>
                                            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                                                <p class="left">Bất động sản ở Bình Dương càng ngày càng lên giá</p>
                                                <div class="d-flex align-items-center">
                                                    <img class="img-fluid flex-shrink-0 rounded" src="img/Blog_Hinhanh/F1 (1).jpg" style="width: 45px; height: 45px;">
                                                    <div class="ps-3">
                                                        <h6 class="fw-bold mb-1">Vũ Phi</h6>
                                                        <i><small>2 ngày trước</small></i>
                                                    </div>
                                                </div>                                           
                                            </div>
                                        </td>
                                    </tr> 
                                    <tr>  
                                        <td>
                                            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                                                <p class="left">So với những tiện ích trên thì căn hộ phù hợp với giá tiền, nếu có cơ hội mình sẽ mua một căn để đầu cơ :))</p>
                                                <div class="d-flex align-items-center">
                                                    <img class="img-fluid flex-shrink-0 rounded" src="img/Blog_Hinhanh/F4.png" style="width: 45px; height: 45px;">
                                                    <div class="ps-3">
                                                        <h6 class="fw-bold mb-1">Anh Anh</h6>
                                                        <i><small>3 ngày trước</small></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        </div>
                                    </tr> 
                                    
                                </table>
                                <section id="app">
                                    <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                        <div class="comment">
                                        <p v-for="items in item" v-text="items"></p>
                                        </div><!--End Comment-->
                                        </div><!--End col -->
                                        </div><!-- End row -->
                                    <div class="row">
                                        <div class="col-6">
                                    <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
                                        <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                                        </div><!-- End col -->
                                    </div><!--End Row -->
                                    </div><!--End Container -->
                                </section><!-- end App -->
                                <!-- partial -->
                                    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
                                    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
                                    <script  src="js_comment/script.js"></script>             
                                </div>
                                </div>
                             </div>                    
=======

                    </div>                    
                </div>
            </div>
        </div>
        <!-- About End -->
     
    <div class="heart-btn">
      <div class="content">
        <span class="heart"></span>
        <span class="text">Like</span>
        <span class="numb"></span>
      </div>
    </div>

    <script>
      $(document).ready(function(){
        $('.content').click(function(){
          $('.content').toggleClass("heart-active")
          $('.text').toggleClass("heart-active")
          $('.numb').toggleClass("heart-active")
          $('.heart').toggleClass("heart-active")
        });
      });
    </script>


        <!-- Team Start -->
        <!-- Team End -->


         <!-- Newsletter Start --> 
        <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="row justify-content-center">
                <div class="col-lg-10 border rounded p-1">
                    <div class="border rounded text-center p-1">
                        <div class="bg-white rounded text-center p-5">
                            <h4 class="mb-4">Thắc mắc của bạn<span class="text-primary text-uppercase"> - Hỗ trợ giải đáp</span></h4>
                            <div class="position-relative mx-auto" style="max-width: 400px;">
                                <input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Câu hỏi của bạn">
                                <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Gửi</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter Start
        

     <!-- Footer Start  -->
        <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
            <div class="container pb-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-4">
                        <div class="bg-primary rounded p-4">
                            <a href="index.html"><h1 class="text-white text-uppercase mb-3">MORO</h1></a>
                            <p class="text-white mb-0">
								 <a class="text-dark fw-medium" href="https://freewebsitecode.com/hotel-html-template-pro"></a>“Để việc tìm một mái ấm và chia sẻ không gian trở nên tối ưu và thuận tiện nhất, MORO
                                 mang đến cho người dùng sự trải nghiệm hoàn mỹ về dịch vụ.”
							</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Liên hệ</h6>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Số 669 Quốc lộ 1, khu phố 3, Phường Linh Xuân, Thủ Đức, TP. Hồ Chí Minh</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>012 345 678</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>moro@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/luoisskincare"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/luoisskincare"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/luoisskincare/"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/luoisskincare/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="row gy-5 g-4">
                            <div class="col-md-6">
                                <h6 class="section-title text-start text-primary text-uppercase mb-4">Chính sách</h6>
                                <a class="btn btn-link" href="">Chính sách bảo mật</a>
                                <a class="btn btn-link" href="">Chính sách giao dịch</a>
                                <a class="btn btn-link" href="">Chính sách dịch vụ</a>
                                <a class="btn btn-link" href="">Chính sách kiểm duyệt</a>
                                <a class="btn btn-link" href="">Hỗ trợ</a>
                            </div>
                            <div class="col-md-6">
                                <h6 class="section-title text-start text-primary text-uppercase mb-4">Dịch vụ</h6>
                                <a class="btn btn-link" href="">Cho thuê</a>
                                <a class="btn btn-link" href="Roommate.html">Ở ghép</a>
                                <a class="btn btn-link" href="delivery_page.html">Vận chuyển</a>
                                <a class="btn btn-link" href="cleaningservice.html">Dọn phòng</a>
                                <a class="btn btn-link" href="Blog_Full trang.html">Bản tin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                              
                        <!-- Box bình luận -->                    
           
                    
            <!-- Trái tim end -->               
                </div>              
            </div>
                    <!-- About End -->
               

        <!-- Footer Start -->
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                             <a class="border-bottom" href="https://www.instagram.com/luoisskincare/"></a> Đã đăng ký với Bộ Công Thương. 
							
							
							 <a class="border-bottom" href="https://www.instagram.com/luoisskincare/">CÔNG TY THHH MORO</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="index.html">Trang chủ</a>
                                <a href="">Cookies</a>
                                <a href="">Hỗ trợ</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <!-- Footer End -->



        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>